bin/
projects/
__pycache__/
secure/
deploy/

# Things from homedirs on build.jellyfin.org
.bashrc
.dotnet/
.gitconfig
.local/
.nuget/
.viminfo
.docker/
.joe_state
.ssh/
.config/
.bash*
.azure
*.apk
.azure-devops/
.cache/
.wget-hsts
logs/
.gnupg/
